name: indigi_attendance
description: "Indigi Attendance is a mobile application for managing employee attendance."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.5.0
  provider: ^6.1.5+1
  intl: ^0.20.2
  cupertino_icons: ^1.0.8
  geolocator: ^9.0.2
  geocoding: ^4.0.0
  shared_preferences: ^2.2.2  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/app_icon.png"
  min_sdk_android: 21

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
    - assets/app_icon.png